/*side appNav*/
/*side appNav*/
#side-menu-wrapper.rtlhide {
  position: absolute;
  z-index: 9999;
  margin-left: -250px;
  position: fixed;
  right: 0px;
  height: 100%;
  left: unset;
}
#side-menu-wrapper.hide {
  position: absolute;
  z-index: 9999;
  /* margin-left: -250px; */
  position: fixed;
  left: 0px;
  height: 100%;
}
#side-menu-wrapper.rtl {
  position: absolute;
  z-index: 9999;
  /* margin-left: -250px; */
  position: fixed;
  right: -250px;
  height: 100%;
  transition: all 0.5s ease;
  left: unset !important;
}

#side-menu-wrapper {
  position: absolute;
  z-index: 9999;
  /* margin-left: -250px; */
  position: fixed;
  left: -250px;
  height: 100%;
  transition: all 0.5s ease;
}

/*side appNav css*/

#side-menu {
  width: 250px;
  height: inherit;
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 0 6px -6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 8px 0 6px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 8px 0 6px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 8px 0 6px -6px rgba(0, 0, 0, 0.2);
}

#side-menu > ul {
  list-style: none;
  direction: ltr;
}

#side-menu > ul > li > a {
  padding: 15px 15px 15px 35px !important;
  color: gray;
  border-left: solid 4px transparent;
  align-self: flex-start;
  position: relative;
  text-align: end;
}
#side-menu > ul > li > a > span {
  margin-right: 0.8rem;
}
#side-menu > ul > li > a.active,
#side-menu > ul > li > a:hover {
  border-left: solid 4px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: rgb(239, 240, 241);
}
#side-menultr {
  width: 250px;
  height: inherit;
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 0 6px -6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 8px 0 6px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 8px 0 6px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 8px 0 6px -6px rgba(0, 0, 0, 0.2);
}

#side-menultr > ul {
  list-style: none;
  direction: ltr;
}

#side-menultr > ul > li > a {
  padding: 15px 15px 15px 35px !important;
  color: gray;
  border-left: solid 4px transparent;
  align-self: flex-start;
  position: relative;
  direction: rtl;
}
#side-menultr > ul > li > a > span {
  margin-right: 0.8rem;
}
#side-menultr > ul > li > a.active,
#side-menultr > ul > li > a:hover {
  border-left: solid 4px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: rgb(239, 240, 241);
}
.g-logo-background {
  background-color: rgb(230, 100, 37);
  height: 81px;
  color: #fff;
}

@media (min-width: 769px) {
  /*side appNav css*/
  #side-menu > ul > li > a {
    padding: 20px 0 20px 35px !important;
  }
}
