/*customer list view*/

.g-card-img-container {
    text-align: center;
    margin-top: 10px;
}

.g-customer-card-image {
    height: 100px;
}

.card .card-body h3 {
    font-size: 1.5rem;
}

.card .card-body h6 {
    font-weight: normal;
    font-size: .9rem;
    color: rgb(175, 175, 175) !important;
}

.g-user-titles {
    color: rgb(135, 135, 135) !important;
}

.g-customer-information {
    padding: 20px 0 10px 0;
    text-align: center;
}

.g-card-buttons {
    display: flex;
    flex-flow: row;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

@media (min-width: 769px){

    /*customer list view*/
    .g-card-content {
        display: flex;
        flex-flow: row;
    }

    .g-card-img-container {
    text-align:left;
    margin-top: 0;
}

    .g-customer-card-image {
        height: 160px;
    }

    .card .card-body h3 {
        font-size: 1.75rem;
    }

    .card .card-body h6 {
        font-size: .95rem;
    }

    .g-customer-information {
        padding: 0 0 0 1.5rem !important;
        text-align: left;
    }

    .g-card-buttons {
        display: flex;
        flex-flow: column;
    }



}

