.g-login-title {
    font-size: 18px;
    color: #555555;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;

}

#password, #admin_email{
    color: #555555;
    font-size: 14px;
    display: block;
    width: 100%;
}


.g-login-error{
    padding: .4rem .9rem !important;
    font-size: .8rem;
}

@media (min-width: 769px) {

    .g-login-title {
        font-size: 24px;
        line-height: 1.2;

    }

     #password, #admin_email{
        color: #555555;
        line-height: 1.2;
        font-size: 18px;
        display: block;
        width: 100%;
        height: 55px;
        padding: 0 15px 0 15px;
    }

}