/*side appNav drawing actions*/
#main-page-wrapper {
  padding-left: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#main-page-wrapper.hide {
  padding-left: 250px;
  /* padding-right: 250px; */
}
#main-page-wrapper.rtlhide {
  /* padding-left: 250px; */
  padding-right: 250px;
  padding-left: unset;
}
@media (min-width: 769px) {
  /*side appNav wrapper css*/
  #main-page-wrapper {
    /* padding-left: 250px; */
    /* padding-righ: 250px; */
  }

  #main-page-wrapper.hide {
    /* padding-left: 0px; */
    /* padding-right: 250px; */
  }
}
