.g-login-form {
  background-color: #ffffff;
  padding: 20px 15px;
  box-sizing: border-box !important;
  margin: calc(100% - 90%) auto 0 auto;
  min-width: 350px;
  max-width: 350px;
  min-height: 390px;
}

@media (min-width: 769px) {
  .g-login-form {
    padding: 20px 50px;
    max-width: 400px;
    min-height: 390px;
  }
}
.g-login-image {
  box-sizing: border-box !important;
  min-width: 350px;
  max-width: 350px;
  height: 390px;
}

@media (max-width: 500px) {
  .g-login-image {
    display: none;
  }
}
