.form-group{
    margin-bottom: .8rem;
}

.form-control {
    padding: 0.375rem 0.75rem;
    font-size: .85rem;
    line-height: 1.5;
    color: rgb(110, 110, 110);
    border: 1px solid #ced4da;
}

label{
    margin-bottom: .3rem;
    font-size: .9rem;
    color:rgb(115,67,25);
    font-weight: 400;
}

/*.errorMsg{*/
    /*display: none;*/
/*}*/

.errorMessage{
    display: block;
    font-size: 0.8rem;
    color: #cc0000;
    padding-left: 0;
    padding-top: .4rem;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

input.success,
select.success,
textarea.success {
    color: #398843;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.error,
select.error,
textarea.error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

@media (min-width: 769px) {

    .FormControl {
        font-size: .92rem;
    }

    .errorMessage {
        font-size: .95rem;
        padding-top: .5rem;
    }
}