.card-outline {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  color: white;
  -webkit-box-shadow: 0px 0px 58px 11px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 58px 11px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 0px 58px 11px rgba(0, 0, 0, 0.43);
  border-top-left-radius: 7px;
}

.card-outline-icon {
  color: green;
}

.card-outline:hover {
  color: lawngreen;
  background-color: white;
}
.card-head {
  background-color: green;
  padding: 5px 10px;
  border-top-left-radius: 7px;
}
.balance {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px dashed green;
  padding: 20px;
}
.balance-container {
  border-left: 1px solid gray;
  height: 10rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
