/*modal*/

.modal {
    position: fixed;
    /*top: 10%;*/
    /*left: 15%;*/
    z-index: 10500;
    box-sizing: border-box;
    overflow: hidden;
}

.modal.hide {
    display: none;
}

.modal.show {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-header {
    padding: .8rem;
}

.modal-title {
    color: rgb(230, 100, 37);
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 0 !important;
}

  .modal-body {
        min-height: 265px;
    }

@media (min-width: 769px) {
    /*add customer modal*/
    .modal-header {
        padding: 1rem;
    }

    .modal-title {
        color: rgb(230, 100, 37);
        font-weight: 400;
        text-transform: capitalize;
    }

    .modal {
        top: 10%;
        left:15%;
    }
}