doctype html
head
body
  div
   p
    b السلام عليكم #{user.name}
  div
   p 
    b كود إعادة تفعيل كلمة المرور #{user.code}
  div
    p يمكنك تجاهل ذلك البريد الإلكتروني إذا لم تقم بإعادة تعيين كلمة المرور
    h5 شكراً
  div
   p
    b hi #{user.name}
  div
   p 
    b reset password code #{user.code}
  div
    p If you didn’t ask to reset your password, you can ignore this email.
    h5 Thanks
