/*filter and add user section*/
.custom-select {
    color: gray;
    box-shadow: 5px 5px 6px -6px rgba(0, 0, 0, .3);
    -o-box-shadow: 5px 5px 6px -6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 5px 5px 6px -6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 5px 5px 6px -6px rgba(0, 0, 0, .3);
}

.btn.g-modal-toggle {
    padding: 0.4rem 1.5rem;
    text-transform: capitalize;
    font-size: .65rem;
    border-radius: 5px;
}

@media (min-width: 769px){
      /*filter and add user section*/
    .btn.g-modal-toggle {
        padding: 0.5rem 3.5rem;
        font-size: .7rem;
    }
}