
.btn.g-customer-button{
    border-radius: 5px;
    text-transform: capitalize;
    padding: .5rem 3rem;
    font-size: .8rem;
}

.btn.g-customer-button disabled {
    cursor: not-allowed;
}

 .g-form-notice {
        color: red;
        font-size: .85rem;
    }




