/*colors*/
/*green -> #E66425, rgb(230,100,37)*/
/*brown -> #734319, rgb(115,67,25)*/

body {
  background-color: rgb(239, 240, 241);
  overflow-x: hidden;
  /* direction: rtl; */
}

.g-green-color {
  color: #69d669;
}

.g-brown-color {
  color: rgb(115, 67, 25);
}

.btn-brown {
  background-color: rgb(115, 67, 25) !important;
}

.btn-warning {
  background-color: rgb(230, 100, 37) !important;
}
